// Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";

@import "bootstrap/scss/bootstrap";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

// Required
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/variables-dark";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";

// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/containers";
// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// // @import "bootstrap/scss/modal"; // Requires transitions
// // @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// // @import "bootstrap/scss/carousel";
// // @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas"; // Requires transitions
// // @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
// @import "bootstrap/scss/utilities/api";



body {
  box-sizing: border-box;
  font-family: Lato;
 
}
// Header 

.logo {
  width: 268px;
}

header {
  
  display: flex;
  justify-content: center;
  margin-top: 10px;
}



// ********************************************************************************Search Bar***********************************************************************


.search-box {
      width: 100%;
      background-color: rgba(255, 255, 255, .5);
      height: 150px;
      display: flex;
      justify-content: center;
      border: none;

      .search-container {
          background-color: #E7E7E7;
          border: 32px;
          font-size: 1.5em;  
          position: relative;
          top: 25%;
          width: 80%;
          height: 70px;
          border: none;
        
        i {
          position: absolute;
          display: block;
          padding: 20px 10px;
        }
        
        input {
          background-color: transparent;
          border-width: 0px;
          border: none;
          width: 93%;
          padding: 15px;
          margin-left: 40px;
          border: none;
          outline: none;
        &input[type=text]:focus {
          border: none;
        }      
  
        
        }
          
      }
  }

    
   
    //************************************************************************Cards ********************************************************************************  
    .card-img-top {
      background-color: rgb(199, 189, 189);
      height: 10em;
    }

    .card-body {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: rgb(232, 232, 232);
    
    };

   

    .cardfOfrecepi {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 2em 9.5em 0em 9.5em;
      gap: 50px;

      
     

    }

    .card {
     width: auto;
     height: 22em;

    }

    .card-title {
      font-size: 1em;
    }
    .ingredients-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
    }

    .card-text {
      overflow: hidden;
      position: relative;
      display: inline-block;
      word-wrap: break-word;
      max-height: 8em; /* (Number of lines you want visible) * (line-height) */
      line-height: 1em;
      text-align:justify;
      max-width: 11em;
      padding-left: 2em;
      &::after {
        content: "...";
      }
      
    }
    .cardTime {
      padding-left: 4em;
    }

    

  

  

    // **********************************************Dropowns***************************************************************************************************************
    
   
    
   
    
.dropdown:hover .dropdown-menu {
display: block;

}
    
  

.placeOfDropdowns {
display: flex;
margin-left: 9.5em;
z-index: 1;
white-space: nowrap;

}
    


.search-fieldIngrediens {
color: #E7E7E7;
border: none;
font-size: 1em;
padding-left: 1em;
border: 0;
outline: none;
width: auto;

}
.firstButton button {
  background: #3483f7;
  border: solid;
  height: 3em;
  width: 8em;
  overflow: auto;
  outline: none;
  float: right;
  transition: 0.5s ease-in-out;
}

.firstButton button:hover {
  background-color: #0a68f5;
  border: solid;
  float: left;
}


.firstButton button:hover em {
  transform: rotate(-180deg);
  transition: 0.5s ease-in-out;
}

.firstButton .dropdown-menu:hover {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 5px;
};

.firstButton .dropdown-menu {
  background-color: #0a68f5;
  color: #fff;
  width: 810px;
  float: right;
  transition: transform .2s;
 
}

.firstButton .dropdown-menu input {
  background-color: #0a68f5;
  color: #ffff;
  text-decoration: none;
  border: none;
}

.firstButton .dropdown-menu a {
  color: #fff;
  font-size: 0.7em;
  max-width: 10px;
  text-overflow: ellipsis;
}

.firstButton .dropdown-menu input::placeholder {
  color: #fff;
}

.firstButton .dropdown-menu a:hover {

  background-color:  #0a68f5;
  
  text-shadow: 2px 2px 2px black;

  cursor: pointer;
}













// second button 

    .secondButton {
      background-color: #66daa4;
      border: solid;
      height: 3em;
      width: 8em;
      &:hover {
        background-color: #46d291;
        border: solid;
      }
    }

    .thridButton {
      background-color: #ed6454;
      border: solid;
      height: 3em;
      width: 8em;
      &:hover{
        background-color: #e9422f ;
        border: solid;
        
      }
        
        
      }

    
      .ingredients-list {
        display: block;
        
        font-size: 10px;
      }
  

      
      
    

    .dropdown-menu:focus {
      background-color: #333;
    }

    // tag button 

    .output {
      margin-left: 9.5em;
    }
    

    @mixin button-styles($bg-color, $hover-color) {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 0.2em;
      margin-right: 0.2em;
      background-color: $bg-color;
      color: #FFFFFF;
    
      &:hover {
        background-color: $hover-color;
      }
    }
    
    .btn {
      &.ingredientsTag {
        @include button-styles(#3483f7, #0a68f5);
      }
    
      &.applianceTag {
        @include button-styles(#66daa4, #46d291);
      }
    
      &.ustensilsTag {
        @include button-styles(#ed6454, #e9422f);
      }
    
      .button-close-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-left: 8px;
    
        &:hover {
          &.ingredientsTag {
            @include button-styles(#3483f7, #0a68f5);
          }
        
          &.applianceTag {
            @include button-styles(#66daa4, #46d291);
          }
        
          &.ustensilsTag {
            @include button-styles(#ed6454, #e9422f);
          }
        }
      }
    
      .btn-close {
        font-size: 0.6em;
        line-height: 1;
        color: #FFFFFF;
      }
    }


    // skuska
  

  
  